<div
  class="backdrop"
  [ngClass]="{ show: currentName }"
></div>

<ul class="list-group sidebar">
  <li
    *ngFor="let category of categories"
    class="list-group-item dropdown pointer"
    [ngClass]="{ show: category._id === currentName }"
  >
    <a
      class="nav-link dropdown-toggle pointer"
      (mouseenter)="hover(category._id)"
      (mouseleave)="mouseLeave()"
    >
      {{ category.name }}
    </a>

    <ul
      class="dropdown-menu"
      (mouseenter)="hover(category._id)"
      (mouseleave)="mouseLeave()"
      [ngClass]="{ show: category?._id === currentName }"
    >
      <li
        *ngFor="let subCategory of category.subCategories"
        class="dropdown-item pointer"
      >
        <a class="sub-category"
           (click)="redirectTo(subCategory._id)"
        >
          {{ subCategory.name }}
        </a>
      </li>
    </ul>
  </li>
</ul>
